body{
    font:12px arial, sans-serif;
    line-height:1.6em;
    margin:0 auto; max-width:960px;
}

form{
    text-align:right;
}

h1, h2, hr, p, table{
    margin-bottom:20px;
}

table{
    width:100%;
}

th, td{
    padding:5px;
    text-align:left;
    vertical-align:top;
}

th{ background:lightgray; }

